<div class="container">
  <button routerLink="/add">Add</button>
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Genre</th>
          <th>Author</th>
          <th>Title</th>
          <th>Price</th>
          <th>Publisher</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tr *ngFor="let b of books">
        <td>{{b.id}}</td>
        <td>{{b.genre}}</td>
        <td>{{b.author}}</td>
        <td>{{b.title}}</td>
        <td>{{b.price}}</td>
        <td>{{b.publisher}}</td>
        <td>{{b.quantity}}</td>
        <td><a href="" [routerLink]="['/edit',b.id]">Edit</a></td>
        <td><button (click)="delete(b.id)">Delete</button></td>
      </tr>
    </table>
  </div>